.thirty-seventy-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20px;
    min-height: 80vh;
}
.player-container {
    padding: 20px 20px 0 0;
    border-right: 1px solid #cdcdcd;
}
.team-container {
    padding: 20px 20px 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
}
.team-box {
    border: 1px solid #cdcdcd;
    padding: 15px;
}
.team-title {
    font-size: 1em;
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.players-box-title {
    font-size: 1em;
    font-weight: 500;
    padding: 5px 0;
}
.info {
    margin-bottom: 10px;
}
.info > span{
    font-size: 12px;
    color: #999;
}
.unpicked-playerlist {
    border: 1px solid #cdcdcd;
    padding: 15px;
}
.unpicked-player {
    padding: 3px 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #efefef;
    border-radius: 4px;
    color: #555;
    cursor: pointer;
}
.unpicked-player:hover {
    border: 1px solid #ddd;
}
.new-playerlist-box {
    padding: 15px 0;
}
.delete-icon {
    margin-left: 10px;
    font-size: 12px;
}
.delete-icon:hover {
    color: red;
}
.add-player-form {
    margin: 15px 0 0;
}
input {
    padding: 9px 10px;
    border: 1px solid #ccc;
}
input:focus {
    outline: none;
}
.btn {
    border: none;
    background-color: royalblue;
    padding: 10px;
    display: inline-block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #f1f1f1;
    cursor: pointer;
    margin-left: -2px;
}